
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter','sans-serif';
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}
.header_content{
    max-width: 1050px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.logo{
display: flex;
align-items: center;
font-size: 1.6rem;
font-weight: bold;
color: var(--text-color);
text-decoration: none;
gap: 0.625rem;
}

.logo-icon{
    height:5.875rem ;
    width: 1.938rem;
}
.logo-text{
    font-size: 2rem;
}
.nav{
    display: none;
    gap: 1.5rem;

}
@media  screen and (min-width:787px) {
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: bold;
    transform: color 0.1s;
    display: flex;
    position: relative;
}
.nav-link a{

}
.nav-link:hover{
    color: var(--link-color);
    transition: .3s;
}

.nav-link:hover::after{
    width: 100%;
    text-decoration: underline;
    color: var(--link-color);
}
.nav-link::after{
    content: " ";
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    margin-top: 4px;
    background-color: var(--link-color);
    height: 2px;
    
    

    transition: width 0.4s ease;
    
}

.contact-button{
   
    background-color: var(--primary-color);
    color:var(--background-color);
       display: none;
    border-radius: 0.375rem;
    text-align: center;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
font-weight: 600;
}
@media screen and (min-width:787px){
.contact-button{
    display: block;
}
}
.contact-button:hover{
    background-color: #5254f8;
}


.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
    
}
.menu-button{
     display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color); 
}

@media screen and (max-width:787px) {
    .menu-button{
        display: block;
    }
}


/*Css for main section*/

.main-section{
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    gap:2rem ;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;

}
.content-left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}
@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}
.section-label{
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--primary-color);
}
.section-title{
    font-size: 2.3rem;
    font-weight: 800;
    color: var(--text-color);
    padding: 1rem;
}
.section-description{
    color: var(--gray);
    font-size: 1.15rem;
}
.start-button,.tour-button
{
    background-color: var(--primary-color);
    color:var(--background-color);
   margin-top: 1.4rem;
    border-radius: 0.375rem;
    text-align: center;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
font-weight: 600;

}
.button-group{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}
.tour-button{
    background-color: var(--dark-gray);
}
.start-button:hover{
    background-color: #5254f8;
}

.tour-button:hover{
    background-color: var(--gray);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgage-container{
     border-radius: 1.2rem;
     overflow: hidden;
     box-shadow: 0px 4px 8px rgba(0,0,0,0.1) ;
     height: 53vh;
}

.section-image{
    width: 100%;
    height: 100%;
}

@media screen and (min-width:787px) {
    .main-section{
        display: flex;
        flex-direction: row;
    }
    .content-left{
        width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
        font-size: 3rem;
        
    }
    .button-group{
        justify-content: start;
        align-items: start;
    }
 .section-label{
    font-size: 1rem;
 }
 .imgage-container{
    height: 65vh;
 }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slidefromleft 1s ease forwards ;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.635rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 1.8rem 2.5rem;
}

.company-logo{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
    
}

.svg-image{
    height: 21px;
}


@media screen and (min-width:640px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-heading{
        font-size: bold;
        font-size:2.2rem ;
    }
}


.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;

}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.info-heading{
    font-size: 2.5rem;
    padding-bottom: 1.15rem;
}
.info-description{
    color: var(--gray);
    font-size: 1.05rem;

}

.featur-grid{
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.2rem;
    

}
.feature-svg{
    height: 1.5rem;
    width: 1.5rem;
    

}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2563eb;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
}
.feature-title,.feature-description{
    color: var(--background-color);
}
.feature-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.feature-card:nth-child(2){
    background-color: #ff6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
.feature-card:nth-child(1){
    background-color: #4190e2;
}

.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width:768px){
    .featur-grid{
        grid-template-columns: repeat(1,1fr);
    }
}


.review-section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    width: 950px;

}
.review-div{
    max-width: 850px;



}

.review-heading{
    font-size: x-large;
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-left: 20rem;
}
.review-cards{
    display: flex;
    gap: 1.3rem;
}
@media screen and (max-width:768px) {
    .review-section{
        width: 750px;
    }
    .review-heading{
        padding: 0;
    }

    .review-cards{
        flex-direction: column;
        

        
    }
    .review-card{

        width: 500px;
        height: 190px;
    }
    .review-descripton{
        width: 400px;
        height: 51px;
        margin-left: 200px;
        margin-bottom: 1rem;
    }

}
.review-card{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--light-gray);
   padding: 1rem;
   width: 750px;
   border-radius: 5px;
   box-shadow: 0px 4px 5px var(--gray);
   transition: all 0.2s;

}
.review-card:hover{
    transform:scale(1.05) ;
   transition-duration: 1s;
    border: 1px solid var(--link-color);
}

.Avater-image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 5px;
}

.review-descripton{
    color: var(--gray);
    font-weight: 700;
    font-size: 0.9rem;
    
    padding-bottom: 5px;
    width: 350px;
    
}


.reviewer-name{
    color: var(--accent-color);
    font-weight: 700;
    padding-bottom: 2px;
}

.reviewer-info{
    color: var(--gray);
    font-weight: 500;
}


.newsletter-container{
background-color: var(--background-color);
padding: 2rem;
max-width :1250px; 
height: 40vh;
margin-bottom: 4rem;

}

.newsletter-content{
    display: flex;
    gap: 1rem;
    background-color: var(--light-gray);
    width: 950px;
    margin:1.5rem  auto;
    border-radius: 10px;
    overflow: hidden;
}
.news-right{
    padding: 4rem 2rem;
}
.news-left{
    display: none;
}
.news-image{
    width: 400px;
    height: 100%;
    object-position: center;
    
}

.news-info{
    text-align:start;
}
.news-title{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2rem;
    padding-left: 5px;

}
.news-desc{
    color: var(--gray);
    font-weight: 600;
   padding: 0.3rem;
   font-size: 1.1rem;
}
.news-form{
    text-align: start;
    padding-left: 10px;
    
}
.news-email{
    padding: 0.35rem;
    border: 1px solid var(--gray);
    border-radius: 3px;
    outline: none;
}
.news-email:focus{
    border: 1px solid blue;
    box-shadow: 0px 4px  8px rgb(53, 53, 58);
    }
.news-button{
    color: var(--background-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    margin-left: 4px;
    width: 3.2rem;
    font-weight: 400;
}
.news-button:hover{
    background-color: var(--link-color);
    cursor:pointer;
}


.Privacy-policy{
    margin-top: 0.6rem;
    color: var(--gray);
    font-size: 1rem;

}
.news-link{
    text-decoration: underline;
}
.margin{
    margin: 400px;
}

@media screen and (min-width:640px) {
    .news-left{
        display: block;
    }
    .newsletter-container{
        padding: 0;
    }
}





.footer-container{
    margin-top: 3rem;
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
}

footer{
    max-width: 1080px;
    padding: 1rem  2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    


}
.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
    
}

.social-icon{
width: 1.5rem;
height: 1.5rem;
}
.logo-image{
width: 2rem;
height: 5.8rem;
}
.logo-link{
    display: flex;
    
   align-items: center;
    
    font-weight: bolder;
    font-size: 1.35rem;
    color: black;
    gap: 1rem;
}
.company-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
}
.filler-text{
    margin-top: -0.8rem;
    font-size: 1rem;
    color: #777;

}
.socials{
    display: flex;
    gap: 1rem;
    padding-top: 0.2rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 56%;
    gap: 1.5rem;
    padding: 2rem 1rem;
}
.footer-grid-heading{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);

}
.footer-link-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
}
.footer-link{
    color: #777;
    font-size: 0.9rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.8rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    border-top :1px solid #e5e7eb ;
    padding-top: 1.5rem;
}
@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:850px) {
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
    
}
